body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft JhengHei', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #424d5c;
  color: #fff;
}

#map {
  width: 100%;
  height: 100vh;
}

#Title {
  margin: 0;
  position: absolute;
  top: 2%;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}

.data-control {
  margin: 0;
  padding: 0 0 0 1rem;
  position: absolute;
  top: 17%;
  right: 0%;
  height: 560px;
  width: 800px;
  background-color: rgba(0, 0, 0, .2);
}

.data-control h1 {
  font-size: 1.6rem;
}

.data-control h2 {
  line-height: 15px;
}

.data-control h2::after {
  content: '：';
}

.data-control select {
  font-family: 'Microsoft JhengHei', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 15px;
}

.data-control .data-color {
  margin: .25rem 0;
  align-items: center;
  height: 30px;
  font-size: 15px;
  line-height: 15px;
}

.data-control .data-color span {
  padding: 0;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  height: 25px;
  width: 25px;
}



.data-control .data-color span[data-color='red'] {
  background-color: #933f49;
}

.data-control .data-color span[data-color='yellow'] {
  background-color: #bba537;
}

.data-control .data-color span[data-color='green'] {
  background-color: #6ba660;
}

.data-control .data-color span[data-color='bule'] {
  background-color: #323ee480;
}

.data-control .data-color span[data-color='purple'] {
  background-color: #e432cc80;
}

#pie {
  height: 255px;
  width: 440px;
}

#bar {
  height: 260px;
  width: 800px;
}

#container {
  padding: .5rem 0 0 0;
}

#container div {
  display: inline-block;
}

#control{
  width: 350px;
}

.data-control > div{
  display: inline-block;
}