body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Microsoft JhengHei', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #424d5c;
  color: #fff;
}

#map {
  width: 100%;
  height: 100vh;
}

#Title {
  margin: 0;
  position: absolute;
  top: 2%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  /*color:rgba(97, 133, 111, .5);*/
  color: #fff;
}

.data-control {
  margin: 0;
  padding: 0 2rem;
  position: absolute;
  top: 17%;
  right: 0%;
  height: 540px;
  width: 485px;
  background-color: rgba(0, 0, 0, .2);
}

.data-control h2 {
  line-height: 22px;
}

.data-control h2::after {
  content: '：';
}

.data-control select {
  font-family: 'Microsoft JhengHei', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 22px;
}

.data-control .data-color {
  margin: .25rem 0;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 1.25rem;
  line-height: 20px;
}

.data-control .data-color span {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.data-control .data-color span[data-color='red'] {
  background-color: #933f49;
}

.data-control .data-color span[data-color='yellow'] {
  background-color: #bba537;
}

.data-control .data-color span[data-color='green'] {
  background-color: #6ba660;
}

.data-control .data-color span[data-color='bule'] {
  background-color: #323ee480;
}

.data-control .data-color span[data-color='purple'] {
  background-color: #e432cc80;
}


#container, #bar, #pie {
  margin: 0 auto;
}

#bar,#pie {
  height: 255px;
  width: 485px;
}

#container {
  padding: .5rem 0 0 0;
  width: 485px;
  height: 532px;
  position: absolute;
  top: 17%;
  right: 550px;
  background-color: rgba(0, 0, 0, .2);/*width: 485px;*/
}

#container div {
  display: inline-block;
}


#container>ul {
  overflow: hidden;
  width: 485px;
  margin: 0;
  padding: 0;
}

#container>ul>li {
  list-style-type: none;
}

#container>ul>li>a {
  text-decoration: none;
  font-size: 17px;
  color: #FFF;
  float: left;
  padding: 10px;
  margin-left: 5px;
}

/*.control-container{
  position: absolute;
  top: 17%;
  right: 0%;
  height: 540px;
  width: 1015px;
  background-color: rgba(0, 0, 0, .2);
}*/